<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CallUpContext" 
         connectionString="Data Source=192.168.110.51,1434;Initial Catalog=callupc3c0h1_db;User ID=callupc3c0h1_su;Password=nWEREy?Z4%EQfH;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
